<header>
  <nav>
    <p class="logo">THE PLANETS</p>

    <button
      type="button"
      class="hamburger"
      (click)="toggleNavbar.set(!toggleNavbar())"
      [class.opened]="toggleNavbar()"
    >
      <img src="assets/images/shared/icon-hamburger.svg" alt="Toggle Navbar" />
    </button>

    <ul class="planet-list" [class.opened]="toggleNavbar()" [attr.inert]="!toggleNavbar() ? true : null">
      @for (planet of planets; track $index) {
        <li>
          <a
            [routerLink]="[planet]"
            routerLinkActive="active"
            [style]="{ '--planet-color': `var(--${planet})` }"
            (click)="toggleNavbar.set(false)"
          >
            {{ planet | uppercase }}

            <img src="assets/images/shared/icon-chevron.svg" alt="Arrow" />
          </a>
        </li>
      }
    </ul>
  </nav>
</header>
