.container {
  min-height: 100vh;
  min-height: 100dvh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  background-color: var(--bg-color);
  background-image: url('../assets/images/background-stars.svg');
  background-repeat: no-repeat;

  background-size: 110%;

  background-position: var(--bg-x, 0%) var(--bg-y, 0%);

  transition: background-position 1.5s cubic-bezier(0.25, 1, 0.5, 1);
}
